### #Question 1
Program which prints the fibonacci series of a number and write the conditions that nos should not be negative.

In [3]:
# numbers = int(input("Enter how many numbers you want to display "))

# x = 0
# y = 1
# c = 2

# print("Fibonacci Sequence is ")
# print(x)
# print(y)

# while c<numbers:
#   z = x+y
#   print(z)
#   x = y
#   y = z
#   c+=1


# Function to generate Fibonacci series
def fibonacci_series(n):
    fib_series = []
    a, b = 0, 1

    while a <= n:
        fib_series.append(a)
        a, b = b, a + b

    return fib_series

# Input a non-negative number
while True:
    try:
        num = int(input("Enter a non-negative number: "))
        if num < 0:
            print("Please enter a non-negative number.")
        else:
            break
    except ValueError:
        print("Invalid input. Please enter a valid integer.")

# Print Fibonacci series up to the given number
result = fibonacci_series(num)
print(f"Fibonacci series up to {num}: {result}")

Enter a non-negative number: -15
Please enter a non-negative number.
Enter a non-negative number: -20
Please enter a non-negative number.
Enter a non-negative number: 8
Fibonacci series up to 8: [0, 1, 1, 2, 3, 5, 8]

### #Question 2
Program that finds the distance between 2 points (x1  , y1) and (x2 , y2) using equation formula.

In [ ]:
import math

x1 = int(input("Enter x-coordinate of the first point = "))
y1 = int(input("Enter y-coordinate of the first point = "))
x2 = int(input("Enter x-coordinate of the second point = "))
y2 = int(input("Enter y-coordinate of the second point = "))

#Equation formula to find the distance

distance = math.sqrt((x2-x1)**2 + (y2-y1)**2)

print("The distance between two points are : ", distance)

Enter x-coordinate of the first point = 15
Enter y-coordinate of the first point = 12
Enter x-coordinate of the second point = 24
Enter y-coordinate of the second point = 31
The distance between two points are :  21.02379604162864

#Question 3
Program to find the best of two test avearage marks out of three and  test's marks is accepted from the user.

In [ ]:
Test_1 = int(input("Enter the first test marks = "))
Test_2 = int(input("Enter the second test marks = "))
Test_3 = int(input("Enter the third test marks = "))

min_score = min(Test_1, Test_2, Test_3)
print("Minimum test score: ", min_score)

# if Test_1 <= Test_2 and Test_1 <= Test_3:
#   min_score= Test_1

# elif Test_2 <= Test_1 and Test_2 <= Test_3:
#   min_score = Test_2

# else:
#   min_score = Test_3

Average = (Test_1 + Test_2 + Test_3 - min_score)/2

print("Average of the two test marks is: ", Average)

Enter the first test marks = 56
Enter the second test marks = 25
Enter the third test marks = 41
Minimum test score:  25
Average of the two test marks is:  48.5

In [ ]:
t1 = 45
t2 = 25
t3 = 63

#Question 4
Program to find the area of triangle and perimeter of triangle.

In [ ]:
height = float(input("Enter the height of a triangle: "))
base = float(input('Enter the base of a triangle: '))
side1 = int(input('Enter the first side of the triangle: '))
side2 = int(input('Enter the second side of a triangle: '))
side3 = int(input('Enter the third side of a triangle: '))

Area = 0.5*base*height
print("The area of triangle is = ", Area)

Perimeter = side1 + side2 + side3
print("The perimeter of a triangle is = ", Perimeter)

Enter the height of a triangle: 12
Enter the base of a triangle: 13
Enter the first side of the triangle: 5
Enter the second side of a triangle: 4
Enter the third side of a triangle: 3
The area of triangle is =  78.0
The perimeter of a triangle is =  12

#Question 5
Program to swap the two variables without using the third variable.

In [ ]:
a = int(input("Enter the value of a "))
b = int(input("Enter the value of b "))

#Swapping concept without using third variable
a = a + b
b = a - b
a = a - b

print ("After swapping the values of a and b are: ", a, b)

Enter the value of a 4
Enter the value of b 5
After swapping the values of a and b are:  5 4

### #Question 6
Write a python program to add two nos which is integer datatype and its result should be displayed as floating datatype.

In [ ]:
num1 = int(input("Enter the first integer "))
num2 = int(input("Enter the second integer "))

sum = num1 + num2

print("The final result is storing in floting datatype which is given below-")
print("The addition of both integer numbers are: ", float(sum))

Enter the first integer 36
Enter the second integer 48
The final result is storing in floting datatype which is given below-
The addition of both integer numbers are:  84.0

### #Question 7
Program to generate student Result . Accept marks of five subject and display the result according to following conditions:-

Percentage     Division
##### >=75             First Class with Distinction
##### >=60 and <75     First Class
##### >=45 and <60     Second Class
##### >=40 and <45     Pass
##### <40              FAIL

In [ ]:
print("Here, we have displayed the marks of five subjects for student which is Maths, English, Physics, Chemistry, and Computer\n")

Maths = int(input("Maths score = "))
English = int(input("English score = "))
Physics = int(input("Physics score = "))
Chemistry = int(input("Chemistry score = "))
Computer = int(input("Computer score = "))

Total_marks = Maths + English + Physics + Chemistry + Computer
print("Aggregated marks of all subjects: ", Total_marks)

Percentage = (Total_marks/500)*100
print("Toal percentage of aggregated marks: ", Percentage)

if Percentage>=75:
  print("Division: Passed in first class with distinction")

elif Percentage>=60 and Percentage<75:
  print("Division: Passed in first class")

elif Percentage>=45 and Percentage<60:
  print("Division: Passed in second class")

elif Percentage>=40 and Percentage<45:
  print("Division: Pass")

else:
  print("Division: Fail")

Here, we have displayed the marks of five subjects for student which is Maths, English, Physics, Chemistry, and Computer

Maths score = 85
English score = 82
Physics score = 75
Chemistry score = 79
Computer score = 96
Aggregated marks of all subjects:  417
Toal percentage of aggregated marks:  83.39999999999999
Division: Passed in first class with distinction

### #Question 8
Program to print the following pattern

##### *
##### * *
##### * * *
##### * * * *

In [ ]:
i=1
while i<=4:
  j=1
  while j<=i:
    print("*", end = " ")
    j+=1
  print()
  print()
  i+=1

*

* *

* * *

* * * *

### #Question 9
Program to print the table of 6 I want O/P as in given format
##### 6 * 1 = 6
##### 6 * 2 = 12
##### 6 * 3 = 18
##### .
##### .
##### .
##### .
##### 6 * 10 = 60

In [ ]:
number = 6
i = 1

while i<=10:
  result = number * i
  print(f"{number} * {i} = ", result)
  i+=1

6 * 1 =  6
6 * 2 =  12
6 * 3 =  18
6 * 4 =  24
6 * 5 =  30
6 * 6 =  36
6 * 7 =  42
6 * 8 =  48
6 * 9 =  54
6 * 10 =  60

### #Question 10
Program which accpets 5 integers values and print "DUPLICATES" if any of the values entered are repeated otherwise it prints
##### "ALL UNIQUE" . Let 5 integers are (32 , 45 , 90 ,45 ,6 )
##### Now you can see dupliactes is 45 and uniques are 32 , 90 , 6 so my output should be in below format
##### DUPLICATE : 45
##### UNIQUE : 32
##### UNIQUE : 90
##### UNIQUE  : 6

In [5]:
# Accepting 5 integer values from the user
values = []
i = 0

while i < 5:
    value = int(input(f"Enter integer value {i+1}: "))

    if value in values:
        print(f"DUPLICATE: {value}")
    else:
        print(f"UNIQUE: {value}")
        values.append(value)
        i += 1

Enter integer value 1: 32
UNIQUE: 32
Enter integer value 2: 45
UNIQUE: 45
Enter integer value 3: 90
UNIQUE: 90
Enter integer value 4: 45
DUPLICATE: 45
Enter integer value 4: 6
UNIQUE: 6
Enter integer value 5: 32
DUPLICATE: 32
Enter integer value 5: 90
DUPLICATE: 90
Enter integer value 5: 45
DUPLICATE: 45
Enter integer value 5: 12
UNIQUE: 12