#### 1) Program to create a tuple with numbers and print one item

In [ ]:
Tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 20)

print(Tuple[5])

60

#### 2) Program to unpack a tuple in several variables

In [ ]:
Items = (1, 2, 3.14, 44.25, "coachx", 'x', "tuple", 'n')
I1, I2, I3, I4, I5, I6, I7, I8 = Items

print("Item_1: ", I1)
print("Item_2: ", I2)
print("Item_3: ", I3)
print("Item_4: ", I4)
print("Item_5: ", I5)
print("Item_6: ", I6)
print("Item_7: ", I7)
print("Item_8: ", I8)

Item_1:  1
Item_2:  2
Item_3:  3.14
Item_4:  44.25
Item_5:  coachx
Item_6:  x
Item_7:  tuple
Item_8:  n

#### 3) Write a program to add an item in a tuple

In [ ]:
T1 = ('a', 'b', 9, 4, 1, 9, 9, 8, "priyanka")

print("Original tuple: ", T1)

T1 = T1 + ("arya",)

print("Updated tuple after add an item: ", T1)

Original tuple:  ('a', 'b', 9, 4, 1, 9, 9, 8, 'priyanka')
Updated tuple after add an item:  ('a', 'b', 9, 4, 1, 9, 9, 8, 'priyanka', 'arya')

#### 4) Write a Program to find the repeated items in the tuple

In [ ]:
tup_le = (0,1,1,2,3,5,8,21,13,21,34,5,5)

print("My tuple is = ", tup_le)

print("Repeated items in my tuple are given below...")

for rept_items in tup_le:

  if tup_le.count(rept_items)>1:

    print(rept_items)

My tuple is =  (0, 1, 1, 2, 3, 5, 8, 21, 13, 21, 34, 5, 5)
Repeated items are given below...
1
1
5
21
21
5
5

#### 5) Create a tuple sequance from 1 to 10 and sperate even and odd nos from it

In [ ]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)

print("My tuple is: ", my_tuple)

for i in my_tuple:
  if i%2==0:
    print( i, "is even number")
  else:
    print(i, "is odd number")

My tuple is:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number

#### 6) Which of the following would give an error?
##### A. list1=[]
##### B. list1=[]*3
##### C. list1=[2,8,7]
##### D. None of the above

####Answer- (D) None of the above

#### 7) Which of the following is True regarding lists in Python?
##### A. Lists are immutable.
##### B. Size of the lists must be specified before its initialization
##### C. Elements of lists are stored in contagious memory location.
##### D. size(list1) command is used to find the size of lists.

####Answer- (C) Elements of lists are stored in contagious memory location.

#### 8) What will be the output of below Python code?

In [ ]:
# list1=[8,0,9,5]

# print(list1[::-1])

#### Options:-
##### A. [5,9,0,8]
##### B. [8,0,9]
##### C. [8,0,9,5]
##### D. [0,9,5]

####Answer- (A) [5,9,0,8]

#### 9) Which of the following will give output as [23,2,9,75] ?

#### If list1=[6,23,3,2,0,9,8,75]
##### A. print(list1[1:7:2])
##### B. print(list1[0:7:2])
##### C. print(list1[1:8:2])
##### D. print(list1[0:8:2])

####Answer- (C) print(list1[1:8:2])

#### 10) The marks of a student on 6 subjects are stored in a list, list1=[80,66,94,87,99,95]. How can the student's average mark be calculated?
##### A. print(avg(list1))
##### B. print(sum(list1)/len(list1))
##### C. print(sum(list1)/sizeof(list1))
##### D. print(total(list1)/len(list1))

####Answer- (B) print(sum(list1)/len(list1))

#### 11) What will be the output of following Python code?

In [ ]:
# list1=["Python","Java","c","C","C++"]

# print(min(list1))

####Options:-
##### A. c
##### B. C++
##### C. C
##### D. min function cannot be used on string elements

####Answer- (C) C

#### 12) The elements of a list are arranged in descending order. Which of the following two will give same outputs?

#####    i. print(list_name.sort())
#####    ii. print(max(list_name))
#####    iii. print(list_name.reverse())
#####    iv. print(list_name[-1])
####Options:-
##### A. i, ii
##### B. i, iii
##### C. ii, iii
##### D. iii, iv

####Answer- (B) i, iii

#### 13)  What will be the result after the execution of below Python code?

In [ ]:
# list1=[3,2,5,7,3,6]

# list1.pop(3)

# print(list1)

####Options:-
##### A. [3,2,5,3,6]
##### B. [2,5,7,3,6]
##### C. [2,5,7,6]
##### D. [3,2,5,7,3,6]

####Answer- (A) [3,2,5,3,6]

#### 14) What will be the output of below Python code?

In [ ]:
# list1=[1,3,5,2,4,6,2]

# list1.remove(2)

# print(sum(list1))

####Options:-
##### A. 18
##### B. 19
##### C. 21
##### D. 22

####Answer- (C) 21

#### 15) What will be the output of below Python code?

In [ ]:
# list1=["tom","mary","simon"]

# list1.insert(5,8)

# print(list1)

####Options:-
##### A. ["tom", "mary", "simon", 5]
##### B. ["tom", "mary", "simon", 8]
##### C. [8, "tom", "mary", "simon"]
##### D. Error

####Answer- (B) ["tom", "mary", "simon", 8]

#### 16) Which of the following creates a tuple?
##### A. tuple1=("a","b")
##### B. tuple1[2]=("a","b")
##### C. tuple1=(5)*2
##### D. None of the above

####Answer- (A) tuple1=("a","b")

#### 17) Choose the correct option with respect to Python.
##### A. Both tuples and lists are immutable.
##### B. Tuples are immutable while lists are mutable.
##### C. Both tuples and lists are mutable.
##### D. Tuples are mutable while lists are immutable.

####Answer- (B) Tuples are immutable while lists are mutable.

#### 18) Choose the correct option.
##### A. In Python, a tuple can contain only integers as its elements.
##### B. In Python, a tuple can contain only strings as its elements.
##### C. In Python, a tuple can contain both integers and strings as its elements.
##### D. In Python, a tuple can contain either string or integer but not both at a time.

####Answer- (C) In Pthon, a tuple can contain both integers and strings as its elements.

#### 19) What will be the output of below Python code?

In [ ]:
# tuple1=(5,1,7,6,2)

# tuple1.pop(2)

# print(tuple1)

####Options:-
##### A. (5,1,6,2)
##### B. (5,1,7,6)
##### C. (5,1,7,6,2)
##### D. Error

####Answer- (A) (5,1,6,2)

#### 20) What will be the output of below Python code?

In [ ]:
# tuple1=(2,4,3)

# tuple3=tuple1*2

# print(tuple3)

####Options:-
##### A. (4,8,6)
##### B. (2,4,3,2,4,3)
##### C. (2,2,4,4,3,3)
##### D. Error

####Answer- (B) (2,4,3,2,4,3)

#### 21) What will be the output of below Python code?

In [ ]:
# tupl=("annie","hena","sid")

# print(tupl[-3:0])

####Options:-
##### A. ("annie")
##### B. ()
##### C. None
##### D. Error as slicing is not possible in tuple.

####Answer- (A) ()

#### 22) Which of the following options will not result in an error when performed on tuples in Python where tupl=(5,2,7,0,3)?
##### A. tupl[1]=2
##### B. tupl.append(2)
##### C. tupl1=tupl+tupl
##### D. tupl.sort()

####Answer- (C) tupl1=tupl+tupl

#### 23) What will be the output of below Python code?

In [ ]:
# tupl=()

# tupl1=tupl*2

# print(len(tupl1))

####Options:-
##### A. 0
##### B. 2
##### C. 1
##### D. Error as tuple object has no attribute to len

####Answer- (A) 0

#### 24) What will be the output of below Python code?

In [ ]:
# tupl=([2,3],"abc",0,9)

# tupl[0][1]=1

# print(tupl)

####Options:-
##### A. ([2,3],"abc",0,9)
##### B. ([1,3],"abc",0,9)
##### C. ([2,1],"abc",0,9)
##### D. Error

####Answer- (C) ([2,1),"abc",0,9)

#### 25) Which of the following two Python codes will give same output?
##### (i) print(tupl[:-1])
##### (ii) print(tupl[0:5])
##### (iii) print(tupl[0:4])
##### (iv) print(tupl[-4:])
#### If tupl=(5,3,1,9,0)
##### A. i, ii
##### B. ii, iv
##### C. i, iv
##### D. i, iii

####Answer- (D) i, iii