### #Question-1
Create five Numbers  Variables and Assign Some Values in it and display the Output of  that Variables

In [5]:
a = 10
b = 20
c = 30
d = 40
e = 50

print ("The output of all variables are as follows: ")
print ('a =', a, 'b =', b, 'c =', c, 'd =', d, 'e =', e)

The output of all variables are as follows:
a = 10 b = 20 c = 30 d = 40 e = 50

### #Question-2
Create Five String Variables and Assigns Some Values in it and display the Output of that Variables

In [6]:
Greeting = "Good Evening!"
Intro = "My Name is Priyanka Arya."
City = " I am from Gwalior, Madhya Pradesh."
Occupation = "I am a Researcher."
Experience = "I have 5.5 Years of Working Experience."

print(Greeting, Intro, City, Occupation, Experience)

Good Evening! My Name is Priyanka Arya.  I am from Gwalior, Madhya Pradesh. I am a Researcher. I have 5.5 Years of Working Experience.

### #Question-3
Store Days of the week  in One Variable

In [7]:
# S = "Sunday"
# M = "Monday"
# T = "Tuesday"
# W = "Wednesday"
# Th = "Thursday"
# F = "Friday"
# Sa = "Saturday"

#Week_days = S, M, T, W, Th, F, Sa

Week_days = 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'
print ('The Week days are:', Week_days)
print (type(Week_days))

The Week days are: ('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
<class 'tuple'>

### #Question-4
Store at least 10  Floating point Number in one Variable

In [8]:
Floting_nos = 1.5, 3.7, 8.9, 5.2, 44.0, 6.2, 4.8, 8.5, 77.9, 22.8

print (Floting_nos)

print (type(Floting_nos))

(1.5, 3.7, 8.9, 5.2, 44.0, 6.2, 4.8, 8.5, 77.9, 22.8)
<class 'tuple'>

### #Question-5
Create a Dictionary to store the data of Square of the Given Nos upto 10

In [32]:
Data_Dictionary = {1:1*1, 2:2*2, 3:3*3, 4:4*4, 5:5*5, 6:6*6, 7:7*7, 8:8*8, 9:9*9, 10:10*10}

print("Square of the given numbers upto 10 =", Data_Dictionary)

Square of the given numbers upto 10 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### #Question-6
Create Five SET Variables and Assigns Some Values in it and display the Output of that Variables

In [ ]:
p = 100
q = 200
r = 200
s = 400
t = 400
set_values = {p,q,r,s,t}

print ('Output of the given variables:', set_values)

### #Question-7
Create Five Tuples Variables and Assigns Some Values in it and display the Output of that Variables

In [26]:
tuple_var1 = (15,30)
tuple_var2 = (16,32,48)
tuple_var3 = (17,34,51,68)
tuple_var4 = (18,36,54,72)
tuple_var5 = (19,38,57,76,95,114)

print('Output of the above-mentioned variables :-', tuple_var1, tuple_var2, tuple_var3, tuple_var4, tuple_var5)

Output of the above-mentioned variables :- (15, 30) (16, 32, 48) (17, 34, 51, 68) (18, 36, 54, 72) (19, 38, 57, 76, 95, 114)

### #Question-8
a = 72e3
What is the meaning of a ?

In [23]:
a = 72e3

print("Value of a =", a)

Value of a = 72000.0

### #Question-9
b = 72e-5
What is the meaning of b ?

In [22]:
b = 72e-5

print("Value of b =", b)

Value of b = 0.00072

### #Question-10
Create Five different data types of variables and Show the type of the variable:-

In [17]:
var1 = (15,3,4,5)
var2 = {12,14,45,56}
var3 = {'item' : 'Laptop', 'company' : 'HP'}
var4 = 10
var5 = 'Hello'
# var6 = 0.5
# var7 = 5+9j

print("Output of var1 = ", var1, "Output of var2 = ", var2, "Output of var3 = ", var3, "Output of var4 = ", var4, " and Output of var5 = ", var5)

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))
# print(type(var6))
# print(type(var7))

Output of var1 =  (15, 3, 4, 5) Output of var2 =  {56, 12, 45, 14} Output of var3 =  {'item': 'Laptop', 'company': 'HP'} Output of var4 =  10  and Output of var5 =  Hello
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'int'>
<class 'str'>